@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  /* --clr-primary: #d22ae0; */
  --clr-secondary: #18a337;
  --clr-white: #fff;
  --clr-bg: #eee;
  --clr-light: #fafafa;
  --clr-black: #000;
  --clr-dark: #0000008c;
  --clr-blue: #77eff6;
  --clr-star: rgb(240, 217, 9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-bg);
}
/*===================reset=======================*/

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

/*===================main======================*/
main {
  width: 100%;
  height: 52.5rem;
  margin: 0.625rem auto;
  position: relative;
  padding: 0.5rem 0;
}
.title {
  padding: 0.625rem;
  text-align: center;
  color: var(--clr-dark);
}
.title h1 {
  font-size: 3.125rem;
}
.title p {
  width: 60%;
  padding: 0.5rem;
  margin: auto;
  line-height: 1.5rem;
}
/* .main header {
  width: 98%;
  height: 3.75rem;
  margin: 30px auto;
  align-items: center;
  display: flex;
  padding: 1.625rem;
  justify-content: space-around;
  border-bottom: 0.1rem solid var(--clr-dark);
} */
header p span {
  font-size: 3.5rem;
  margin: 0 0.9rem;
  /* background: var(--clr-secondary); */
  color: black;
  width: 1.875rem;
  height: 1.875rem;
  display: inline-block;
  line-height: 1.53rem;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  /* position: absolute;
  right: 10px; */
}


.scrolll{
      font-size: 3.5rem;
  margin: 0 0.9rem;
  /* background: var(--clr-secondary); */
  color: black;
  width: 1.875rem;
  height: 1.875rem;
  /* display: inline-block; */
  line-height: 1.53rem;
  /* border-radius: 0.5rem; */
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  /* background-color: yellow; */
  /* height: 500px;
  width: 500px; */
  border-radius: 50%;
}

.scroll span{
      font-size: 3.5rem;
  margin: 0 0.9rem;
  /* background: var(--clr-secondary); */
  color: black;
  width: 1.875rem;
  height: 1.875rem;
  display: inline-block;
  line-height: 1.53rem;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
}
/* .theeee{
    text-align: center;
} */

.tiger{
    display: flex;
    align-items: center;
}
header p span:hover {
  /* background: var(--clr-primary);
  color: var(--clr-white); */
}

/*==========section==========*/
section {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 98%;
  height: 37.5rem;
  margin: auto;
  scroll-behavior: smooth; /* Smooth scrolling add kiya */
}
section::-webkit-scrollbar {
  display: none;
}
section .product-card {
  min-width: 24%;
  height: 90%;
  background: var(--clr-light);
  margin: 0 1.25rem 0 0;
  border-radius: 1.25rem;
  position: relative;
  left: 0;
  transition: 0.3s;
  flex-shrink: 0; /* Important for carousel */
}
picture {
  display: flex;
  overflow: hidden;
   object-fit: cover;
  /* margin-bottom: 1.25rem; */
  width: 100%;
  height: 70%;
  /* padding: 1.25rem; */
}
picture img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 0.625rem; /* 10px equivalent */
}
.card-body,
.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.125rem;
  width: 90%;
  color: var(--clr-black);
  margin: auto;
  padding: 0.5rem;
}
small {
  color: var(--clr-primary);
}
a {
  /* padding: 0.5rem 0.625rem; */
  font-size: 1rem;
  /* margin: 0.5rem 0 0 1.25rem; */
  display: inline-block;
  /* background: var(--clr-primary); */
  color: var(--clr-light);
  border-radius: 0.3rem;
  transition: 0.3s;
}
a:hover {
  /* background: var(--clr-black); */
  color: var(--clr-white);
}
p.star {
  margin: 0.5rem auto;
  width: 65%;
  font-size: 1.5625rem;
  color: var(--clr-star);
}

/*=============media query============*/
@media (max-width: 768px) {
  .title h1 {
    font-size: 2.1875rem;
  }
  .title p {
    width: 90%;
  }
  header h1 {
    font-size: 1.5625rem;
  }
  header p span {
    font-size: 1.875rem;
  }
  section .product-card {
    min-width: 50%;
    margin: 0.9rem;
  }
  .card-body,
  .btn {
    font-size: 1rem;
  }
  a {
    padding: 0.5rem 0.625rem;
  }
  .star{
    display: none;
  }
  
}

@media (max-width: 991px) {
  .title h1 {
    font-size: 2.1875rem;
  }
  .title p {
    width: 90%;
  }
  header h1 {
    font-size: 1.5625rem;
  }
  header p span {
    font-size: 1.875rem;
  }
  section .product-card {
    max-width: 33.3%;
    margin: 0.9rem 0.9rem;
  }
  .card-body,
  .btn {
    font-size: 1rem;
  }
  a {
    padding: 0.5rem 0.625rem;
  }
}

#prevBtn{
  /* width: 3rem;
  height: 3rem;
  border-radius: 50%; */

}

/* #span-one{
  margin-top: 10px;
}
